header.header
    .header-top(style="background-image: url('static/images/img/header-bg.png')")
        .container
            .header-top__inner
                a(href="#").header-top__logo.logo
                    img(src="static/images/img/logo.png" alt="Логотип")
                nav.menu
                    a(href="#").menu__link О сервисе
                    a(href="#").menu__link Функции
                    a(href="#").menu__link Возможности 
                    a(href="#").menu__link Партнеры
                .header-btn(data-modal="modal") Оставить заявку
            .header-body
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide.swiper__slide
                            h1.swiper__slide-title Расширяем возможности предоставления качественных медицинских услуг
                            h3.swiper__slide-sub-title «Дневник здоровья» – новый сервис для самоконтроля показателей состояния здоровья, разработанный для участников программы «Мое здоровье».
                            .button.swiper_button.button_middle(data-modal="modal") Узнать больше
                        .swiper-slide.swiper__slide
                            h1.swiper__slide-title Расширяем возможности предоставления качественных медицинских услуг
                            h3.swiper__slide-sub-title «Дневник здоровья» – новый сервис для самоконтроля показателей состояния здоровья, разработанный для участников программы «Мое здоровье».
                            .button.swiper_button.button_middle(data-modal="modal") Узнать больше
                    .swiper-pagination



            

        









