@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria/Medium.ttf') format('truetype');
    src: url('../fonts/Geometria/Medium.woff') format('woff');
    src: url('../fonts/Geometria/Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bold';
    src: url('../fonts/Bold/Bold.woff') format('woff');
    src: url('../fonts/Bold/Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Regular';
    src: url('../fonts/Regular/Regular.woff') format('woff');
    src: url('../fonts/Regular/Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Medium';
    src: url('../fonts/Medium/Medium.woff') format('woff');
    src: url('../fonts/Medium/Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

