.s-journal {
    padding: 150px 0 200px 0;
}

.journal {
    display: flex;
    align-items: center;
    position: relative;
    &__pulse {
        position: absolute;
        right: -35%;
        bottom: -25%;
        @media screen and (max-width: 1650px) {
            max-width: 360px;
            right: -20%;
        }
        @media screen and (max-width: 1360px) {
            max-width: 300px;
            right: -10%;
        }
    }
    &__img { margin-right: 60px; }
    &__text { margin-bottom: 27px; }
    &__title { margin-bottom: 40px;}
}

.section__list  {
    margin-bottom: 40px;
    &-item {
        position: relative;
        padding-left: 17px;
        line-height: 1.5;
        &:not(:last-child) {margin-bottom: 25px;}
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 8px;
            background-color: #16afe0;
            @include size(8px);
            border-radius: 50%;
        }
    }
}
