section.s-access
    .container
        .access
            h2.access__title Получите бесплатный доступ к «Дневнику здоровья»
            h3.access__sub-title 
                span Оставьте свою электронную почту 
                span и вы узнаете о запуске данного сервиса первым!
            form(role="form" class="form")
                input(type="email" name="email" required  class="form__email email"  placeholder="Ваш E-mail")
                button(class="button button_small" data-modal="btn") Отправить