section.s-expert
    .container
        .expert
            .expert__col
                img(src="static/images/img/group.png" alt="Специалисты").expert__img
            .expert__col
                h2.expert__title Специалистам
                ul.section__list 
                    li.section__list-item Дистанционный контроль состояния здоровья ваших пациентов
                    li.section__list-item Наблюдение за динамикой изменения основных медицинских показателей 
                    li.section__list-item Наличие алгоритмов автоматического анализа поступающей информации
                    li.section__list-item Индивидуальная система уведомлений об изменении состояния каждого пациента
                    li.section__list-item Дополнительный сервис коммуникации, позволяющий активно вовлекать пациента в процесс профилактики, лечения и реабилитации