section.s-function
    .container.container_small
        .function
            h2.function__title Функции приложения
            .function__inner
                .function__item
                    .function__item-top 
                        img(src="static/images/img/icon/1.png" alt="График")
                    .function__item-text Планирование графика приема лекарств
                .function__item
                    .function__item-top 
                        img(src="static/images/img/icon/2.png" alt="Врач")
                    .function__item-text Уведомление врача об исполнении назначений
                .function__item
                    .function__item-top 
                        img(src="static/images/img/icon/3.png" alt="Дневник")
                    .function__item-text Ведение дневника самочувствия
                .function__item
                    .function__item-top 
                        img(src="static/images/img/icon/4.png" alt="Измерение")
                    .function__item-text Удаленное предоставление измерений врачу
                .function__item
                    .function__item-top 
                        img(src="static/images/img/icon/5.png" alt="Общение")
                    .function__item-text Общение с врачами через встроенный мессенджер
                .function__item
                    .function__item-top 
                        img(src="static/images/img/icon/6.png" alt="Уведомление")
                    .function__item-text Получение уведомлений для выполнения назначений
                    