section.s-journal
    .container.container_small
        .journal
            img(src="static/images/img/pulse.png" alt="Пульс").journal__pulse
            .journal__col
                img(src="static/images/img/phone.png" alt="Журнал").journal__img
            .journal__col
                h2.journal__title Что такое «Дневник здоровья»?
                .journal__text Дневник пациента — это удобный онлайн-сервис:
                ul.section__list 
                    li.section__list-item Вносите результаты измерений вручную или с помощью интегрированных приборов
                    li.section__list-item Ведите персональную медицинскую карту с историей ваших измерений 
                    li.section__list-item Делитесь результатами измерений со специалистами для повышения эффективности лечения
                    li.section__list-item Получайте рекомендации, созданные специально для вас
                .button.button_big(data-modal="modal") Оставить заявку

