section.s-monitoring
    .container
        .monitoring
            h2.monitoring__title Ведите персональный дневник мониторинга здоровья
            .monitoring__inner
                .monitoring__col
                    .monitoring__item
                        .monitoring__item-title Хранение данных
                        .monitoring__item-text Контролируйте и следите за динамикой изменения показателей вашего здоровья. Вносите результаты измерений медицинских показателей вручную или с помощью интегрированных приборов, храните историю измерений и отслеживайте динамику состояния здоровья.
                        .monitoring__count 1
                    .monitoring__item
                        .monitoring__item-title Сообщение информации клиенту
                        .monitoring__item-text Позвольте специалисту дистанционно следить за вашим здоровьем. Будьте на связи со специалистом - отправляйте информацию о своем самочувствии, обменивайтесь сообщениями и получайте рекомендации по вашему здоровью и лечению.
                        .monitoring__count 2
                    .monitoring__item
                        .monitoring__item-title Напоминание о важном
                        .monitoring__item-text Получайте рекомендации, созданные специально для вас. Система, персонально настроенная под ваши требования, автоматически напомнит о необходимости выполнить рекомендации медицинского специалиста: принять препарат или выполнить измерения.
                        .monitoring__count 3
                    
                        
                .monitoring__col
                    img(src="static/images/img/phones.png" alt="Мониторинг").monitoring__img
                